<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>detail</h2>
    id: <span th:text="${member.id}"></span> <br>
    memberEmail: <span th:text="${member.memberEmail}"></span> <br>
    memberPassword: <span th:text="${member.memberPassword}"></span> <br>
    memberName: <span th:text="${member.memberName}"></span> <br>
    memberAge: <span th:text="${member.memberAge}"></span> <br>
    memberPhone: <span th:text="${member.memberPhone}"></span>
</body>
</html>